* {
  color: floralwhite;
  margin: 0;

  box-sizing: border-box;
}
body {
  background: url(../img/Imagen.jpg) no-repeat center top;
  background-color: #140e02;
  opacity: 1;
  background-size: cover;
  font-family: cursive;
  padding-left: 10%;
  height: 100vh;
}
.head-b {
  position: fixed;
}
.box {
  display: inline-block;
}
.right,
.left {
  display: inline-block;
}

main {
  padding-top: 3em;
}
.titulo {
  font-weight: bold;
  letter-spacing: 2px;
  display: inline;
}

.box-2-1 {
  display: inline-block;
}
ul {
  padding-left: 30px;
  display: inline-block;
}
.Logo {
  padding: 20px;
  font-size: 50px;
}
img {
  width: 50px;
  border-radius: 20%;
}
h1 {
  padding: 10px;
}
