* {
  color: floralwhite;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/fondo.jpg) no-repeat center top;
  
  opacity: 1;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.titulo {
  font-weight: bold;
  letter-spacing: 2px;
}
.left {
  display:block;
}
ul{
  padding-left: 30px; 

}