/* atributos generales */
* {
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
}

/* Cuerpo */

body {
  background: url(../img/Imagen.jpg) no-repeat center top;
  background-color: #140e02;
  opacity: 1;
  background-size: cover;
  font-family: cursive;
  padding-left: 5%;
  height: 100vh;
}

/*  Cabeza */
main {
  padding-top: 3rem;
}

.head-b {
  position: fixed;
  width: 100%;
}
.right,
.left {
  display: inline-block;
}

.right {
  display: inline-block;
  text-align: right;
  width: 40em;
}

/* Texto DEscripcion */

.titulo {
  font-weight: bold;
  letter-spacing: 2px;
  width: 200px;
  text-align: center;
}
/* cuadros habilidades */
.box-2 {
  background: royalblue;
  margin: 2em;
}
.box-2-1 {
  background: sienna;
  display: inline-block;
  width: 18em;
}
.box-2-2 {
  background: steelblue;
  display: inline-block;
  padding: 20px;
  width: 220px;
  height: 200px;
  margin: 1em auto;
  text-align: center;
}
.Logo {
  padding: 20px;
  font-size: 60px;
  display: inline-block;
}
ul {
  text-align: left;
}

/*  pie de pagina */
footer {
  padding-top: 2rem;
}
img {
  width: 100px;
  border-radius: 20%;
}
.profile {
  display: inline-block;
}
